.error{
color:red;
}
body{
background-color:wheat;
}

.form-set{
background-color:white;
width:40%;
height:100%;
margin-top:10rem;
}

.btn{
color:#fff;
background:#009579;
font-size:1.2rem;
font-weight:500;
letter-spacing:1px;
margin-top:1.7rem;
cursor:pointer;
transition:0.4s;
}

.btn:hover{
background:#006653;
}