<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="{% static 'vc/css/style.css' %}">
</head>
<body>
<center>
    <div class="form-set1">
        <h1>Welcome {{name}}</h1>
        <a href="{% url 'meeting' %}"><input type="button" class="btn" value="New Meeting"></a>
        <a href="{% url 'join' %}"><input type="button" class="btn" value="Join Meeting"></a>
        <a href="{% url 'logout' %}"><input type="button" class="btn" value="logout"></a>
    </div>
</center>

</body>
</html>